
:root{
    --primary_color:hsl(178, 46%, 31%);
    --light_grey:#5a4fe9;
    --white:white;
    --black:black;
    --roboto:"Roboto";
    --max-width: 1600px;
    --transition: all 0.3s ease-in-out
    --transition: all 0.6s ease-in-out

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 80%;
}

body{
    font-family:Arial, Helvetica, sans-serif;
  
}
ul, nav{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
img{
    width: 100%;
}
.header{
width: 100%;
box-shadow: 0px 02px 03px rgba(0, 0, 0 ,0.2);
margin-bottom: 10rem;
background-color: #288ff5;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--max-width);
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

.header-logo__img{
    padding-top: 1rem;
    width: 170px;
    height: 90px;
    border-radius: 40px;
   
}

.header__navbar{
    display: flex;
    margin: 2rem 0;
    position: relative;

}
.navbar-list{
    display: flex;
}
.navbar-list__anchor{
    color: var(--white);
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: bolder;
    border-radius: 04px;
    margin:0 0.5rem;
}
.navbar-list__anchor:hover{
    background-color: var(--primary_color);
    color: var(--white);
    transition: var(--transition -1);
}

.btn--responsive{
    font-size: 1.2rem;
    display: none;
    cursor: pointer;
}
.search-result{
    display: none;
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: baseline;
}
.search-result1{
    display: none;
    font-size: xx-large;
}

.header__thumb{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;


}
.thumb-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
 
}
.thumb-img__img{
      filter: blur(3px);
}
.thumb-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 1;
    text-align: center;

}
.thumb-text__title{
    font-size: 7rem;
    color: #fff;
    margin-bottom: 4rem;
    z-index: 3;
}
.search-form{
    width: 70rem;
    margin: 0 auto;
    padding: 1rem 2 rem;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.search-form__search{
    width: 100%;
    padding: 1.5rem 1rem;
    text-indent: 1rem;
    font-size: 1.6rem;
    margin-right: 1rem;
    outline: none;
    border: none;
    border-radius: 2rem;
}
.search-form__submit{
    display: inline-block;
    padding: 1.5% 4%;
    background-color: rgb(47, 69, 194);
    color: hsl(0, 14%, 95%);
    border-radius: 13%;
    font-size: large;
}
.visually-hidden{
    display: none;
}


.main{
padding: 10rem 0;
margin-top: 55%;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10% ;
    
}

.text{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 30px;
     

}
.text__title{
    font-size: 300%;
    color:rgb(53, 6, 6) ;
}
.text__para{
    font-size: large;
    color:rgb(53, 6, 6) ;
}
.btn--sign-in{
    background-color: #3882f6;
    width:25%;
    height:55px;
    border:none;
    border-radius:5px;
    font-size:22px;
    font-weight: bold;
    color: white;
}

.catagories{
    margin: 5rem 0;
    text-align: center;
}
.catagories__title{
    font-size: 300%;
    color:rgb(53, 6, 6) ;
   
}
.catagories_para{
    font-size: large;
   margin: 2rem;
    color:rgb(53, 6, 6) ;

}
.house-catagories{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 3%;

}
.catagory-type{
    margin: 0 2rem;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.catagory-type__effect{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3rem;
    background-color: #3882f6;
    color: white;
    width: 50%;
  
}
.catagory-type:hover .catagory-type__img{
    opacity: 0.9;
    transform: scale(1.1)

}
.catagory-type:hover .catagory-type__effect{
    opacity: 1;
}

.catagory-type__img{
    border-radius: 10px;
   
}
.catagory-type__caption{
    margin-top: 2rem;
    margin-bottom: 0.7rem;
   
}
.catagory-type__link{
    color: red;
}

.catagory-type__caption--link{
    color: #3882f6;
}



.properties-section{
    margin-top: 3rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.properties{
    padding: 2rem 2rem;
    display: flex;
    gap: 1rem;
    position: relative;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
    justify-content: space-evenly;
}
.property{
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 4px 0px;
    border: 0px solid rgb(209, 209, 213);

}

.property__img{
  border-radius: 10px;
  width: 100%;
  height: 250px;
  
}

.slider--prev{
position: absolute;
top: 40%;
left: 0;
user-select: none;
cursor: pointer;
}
.slider--next{
    position: absolute;
    top: 40%;
    right: 0;
    user-select: none;
    cursor:pointer;
}



.footer{
   background-color: #1f2937;
   color:#f9faf8;
   
}
.navbar-list1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 1rem 1rem;
}

.navbar-list1__anchor{
    padding: 0.5rem;
    font-size: 1.8rem;
    font-weight: bolder;
    border-radius: 4px;
}
.footer-logo__img{
    width: 60%;
    height: 30%;
    border-radius: 40px;
   
}

.footer__address{
    display: flex;
    margin-top: 0.3rem;
    padding: 2% 4% 1% 20%;
    gap:20%;
        
}
.address{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.social-media{
    display: flex;
    gap: 3rem;
}
.social-media__icon {
    width: 50px;
    height: 50px;
}

.copyright{
    margin-bottom: 0.5rem;
    font-size: medium;
    text-align: center;
}
